---
layout: default
---

    <div class="row">

        <div class="col-lg-8 col-md-4">
            <ul>
                <div class="row">
                    {% for post in site.posts %}
                    <div class="card blog-post">
                        <img class="card-img-top" src="/assets/img/{{ post.thumbnail }}" alt="{{ post.title }}">
                        <div class="card-body center">
                            <img src="/assets/img/{{ site.author_logo }}" class="author-profile-img">
                            <h4 class="card-title">{{ post.title }}</h4>

                            <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%b %-d, %Y" }}</h6>
                            <p class="card-text">{{ post.summary }} </p>

                            <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}" class="btn btn-primary btn-lg">Read</a>
                            <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}"></span>

                        </div>
                    </div>

                    {% endfor %}
                </div>
            </ul>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <div class="card-header"> About {{ site.author }} </div>
              <br />
              <div class="row">
                  <div class="col-md-3">
                      <img src="/assets/img/profile3.png" align="center" />
                  </div>
                  <div class="col-md-9">

                    <div class="card-body text-dark">

                         {{ site.author_bio }}

                    </div>
                  </div>
              </div>
              <p align="middle">
                <br>
                  <strong>CV</strong>: <a href="https://drive.google.com/open?id=1jN82IO4Cl_8iXGNCr-8gyAUIVj1H4rn4" target="_blank"> here </a>
                  &nbsp;&nbsp;&nbsp; <strong>Github</strong>: <a href="https://github.com/songwan" target="_blank"> songwan </a>
                  &nbsp;&nbsp;&nbsp; <strong>Email</strong>: <a href="mailto:songwan.joun@gmail.com"> songwan.joun@gmail.com </a>
              </p>
          </div>
            <div class="card">

                <div class="card-header">Categories </div>
                <div class="card-body text-dark">
                    {% for tag in site.categories %} {% capture tag_name %}{{ tag | first }}{% endcapture %}
                    <div id="#{{ tag_name | slugize }}"></div>
                    <li class="tag-head">
                        <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}">{{ tag_name }}</a>
                    </li>
                    <a name="{{ tag_name | slugize }}"></a>

                    {% endfor %}
                </div>


            </div>
            <div class="card">
                <!-- Begin MailChimp Signup Form -->
                {%- include newsletter.html -%}
            </div>
        </div>
